.iziToast {
  padding: 0;
  width: 400px;
}

.iziToast > .iziToast-close {
  margin: 0 20px 0 0;
  display: inline-block;
  width: 25px;
  background: url('../img/Vector.svg') no-repeat 50% 50%;
  opacity: 1;
}

.iziToast > .iziToast-body {
  margin: 0 0 0 30px;
  display: flex;
  align-items: center;
  height: 60px;
}

.iziToast > .iziToast-body .iziToast-message {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  padding-right: 35px;
}
